<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-white">Hospital Goldenfold</h1>
                <h2 class="text-right slogan text-white">"A tu lado en cada paso"</h2>
            </div>
        </div>
    </div>
</header>

<div class="frame">
    <img src="ruta/a/imagen1.jpg" alt="Imagen 1">
    <img src="ruta/a/imagen2.jpg" alt="Imagen 2">
    <img src="ruta/a/imagen3.jpg" alt="Imagen 3">
</div>

<main>
   
</main>

</body>
</html>
