<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
</head>
<body>

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-white">Hospital Goldenfold</h1>
                <h2 class="text-center slogan text-white ">"A tu lado en cada paso."</h2>
            </div>
        </div>
    </div>
</header>

<main>
   <section class="services-container">
        <h3 class="text-center fs-1 ">Servicios</h3>
        <section class="services">
            <article class="service">
                <a routerLink="/habitaciones">
                    <img src="assets/images/habitaciones.png" alt="Servicio 1">
                </a>
                    <h4>Habitaciones</h4>
            </article>
            <article class="service">
                <a routerLink="/camas">
                    <img src="assets/images/camas.png" alt="Servicio 2">
                </a>
                <h4>Camas</h4>
            </article>
            <article class="service">
                <a routerLink="/pacientes">
                <img src="assets/images/pacientes.png" alt="Servicio 3">
                </a>
                <h4>Pacientes</h4>
            </article>
        </section>
   </section>
</main>

</body>
</html>
