body, p, h1, h2, h3, span, .nav-link {
    color: #ffffff; 
    font-family: "Nunito", sans-serif; 
}
  
.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
}

.sm-title { 
    font-size: 1.4rem;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #85fffb; 
}

.nav-item {
    cursor: pointer;
}
