<footer class="footer">
    <div class="footer-content">
      <div class="footer-section footer-brand">
        <img src="assets/images/logo2.png" alt="">
      </div>
      <div class="footer-section links">
        <ul>
          <li><a routerLink="/inicio">Sobre Nosotros</a></li>
          <li><a routerLink="/habitaciones">FAQ's</a></li>
          <li><a routerLink="/camas">Política de Privacidad</a></li>
          <li><a routerLink="/pacientes">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section map">
        <img src="assets/images/mapa.png" alt="">
      </div>
      <div class="footer-section contact"> 
        <address>
            <h5>Hospital Goldenfold</h5>
            <p>Plaça d'Alfonso Comín, 7, Gracia, Barcelona, 0802</p>
            <h5>Email</h5>
            <p><a href="mailto:Hospitalgoldefold@gmail.com">Hospitalgoldefold&#64;gmail.com</a></p>
            <h5>Teléfono</h5>
            <p><a href="tel:+34947002963">(+34) 947 002 963</a></p>
        </address>
      </div>
    </div>
        <div class="footer-bottom">
        &copy; 2024 Hospital Goldenfold | Todos los derechos reservados.
        </div>
</footer>
  